<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            preferences
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-round-back"></ion-back-button>
<!--             <ion-button (click)="goBack()">
              <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
            </ion-button>
 -->        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>
              <ion-item>
                <ion-label position="stacked">Remote Cloudant Database URL</ion-label>
                <ion-input type="text" [(ngModel)]="remoteDBURL" placeholder="https://userid:password@url/db"></ion-input>
              </ion-item>
            </div>
            <div padding>
<!--                 <ion-icon size="large" slot="start" src="/assets/icon/sync.svg"></ion-icon>
                <img src="/assets/icon/sync.svg" width="100px"/>
 -->                <ion-item class="customButton" tappable (click)="syncWithRemoteDB()">
                      <img src="/assets/icon/sync.svg" width="100px" height="50px" slot="start"/>Sync local with remote DB
                    </ion-item>
<!--               <ion-button size="default" (click)="syncWithRemoteDB()" expand="block">Overwrite local with remote DB<ion-icon src="/assets/icon/sync.png"></ion-icon></ion-button>
 -->
              <ion-item class="customButton" tappable (click)="replAndSyncWithRemoteDB()">
                  <img src="/assets/icon/replAndSync.svg" width="100px" height="50px" slot="start"/>Overwrite local with remote DB
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="loading">Loading...</ion-row>
      </ion-grid>
</ion-content>
