<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/notes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ note.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="mode=='edit'" (click)="enterMarkdownViewMode()">
        <ion-icon slot="icon-only" name="eye"></ion-icon>
      </ion-button>
      <ion-button *ngIf="mode=='view'" (click)="quitMarkdownViewMode()">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
      <ion-button *ngIf="mode=='edit'" (click)="deleteNote()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding color="light" >
  <ion-textarea *ngIf="mode=='edit'" (input)="noteChanged()" [(ngModel)]="note.content" placeholder="...something on your mind?"></ion-textarea>
  <md-to-html *ngIf="mode=='view'" content={{note.content}}></md-to-html>
</ion-content>